html,
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: $gray;
	line-height: 26px;
}

.container {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;

	&--fluid {
		max-width: unset;
		width: 100%;
	}

	&--no-padding {
		padding: 0;
	}
}

.none {
	display: none;
}
